.hero{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.mySwiper {
    width: 80%;
    height: 80%;
    margin-bottom: 1rem;

}


